<footer class="footer">
  <small>
    <%= raw t(".footer_t1") %>
    <%= raw t(".footer_t2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
